# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***
* List popular languages for Data Science 
* List commonly used libraries for Data Scientists
* List top 3 Data Science Tools 
* Give examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. scikit-learn
4. Matplotlib
5. TensorFlow

| Data Science Tools |
|--------------------|
| Jupyter Notebook |
| VS Code (Visual Studio Code) |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers 
(3 * 4) + 5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200 // 60

3

## Author
Igor Nikitiuk